#hero {
  background: url("../img/bg.svg");
  background-size: cover;
  background-position-x: center;
}

.logo {
  width: 85%;
}

.logo1 {
  width: 70%;
}

.is-horizontal-center {
  justify-content: center !important;
}

.cardimg {
  max-width: 60%;
}

/* .card {
  height: 350px;
} */
