#hero {
  background: url("../img/bg.svg");
  background-size: cover;
  background-position-x: center;
}

.logo {
  width: 80%;
}

.logo1 {
  width: 70%;
}

.is-horizontal-center {
  justify-content: center !important;
}
/* justify-content: center; */
